* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

canvas{
    border: 1px solid black;
    width: 800px;
    height: 400px;
}

.ukjord{
    height: 325px;
    width: 1000px;
}

.tastatur{
    height: 325px;
    width: 1000px;
}